/* .hero-area {
    height: 100vh;
    background: url("../../Assets/Img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-area .hero_text h1{
    padding-top: 180px;
}
.hero-area .hero_text p {
    width: 580px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.hero-area .hero_text .row .col:nth-child(1) {
    color: #000; 
    padding-right: 30px;
}

.hero-area .hero_text .row .col:nth-child(2) {
    color: #000; 
    padding-left: 30px;
}
 */

